*.pyc
*.swp
dist/*
src/crl.examplelib.egg-info/*
sphinxdocs/robotdocs.rst
build/*
robotdocs/*.html
.cache/
.coverage
.tox/
build_dir/
coverage.xml
junit.xml
log.html
output.xml
report.html
.venv/
.pytest_cache/
